asgiref==3.3.1
coverage==5.4
dj-database-url==0.5.0
Django==3.1.6
gunicorn @ git+https://github.com/benoitc/gunicorn.git@2ffc1b7512f74cc918f399f23984ec6ee1657c59
psycopg2-binary==2.8.6
pytz==2021.1
sqlparse==0.4.1
